irssi/startup
mutt/.addresses.csv
mutt/emailsDestacados
mutt/hcache
emacs.d/.saved-places
emacs.d/auto-save-list/
ranger/bookmarks
vim/linux/.vim/tmp/
vim/tmp/
.oh-my-zsh/
*.swp
.DS_Store

.idea
*.iws
*.iml
*.ipr

/nbproject/private/
/nbbuild/
/nbdist/

.cache
.grunt
.vagrant
.vscode
/build
/dist
/node_modules
bower_components
lerna-debug.log*
npm-debug.log

